<!DOCTYPE html>
<html>
<head>
  <title>Jungle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/top_nav' %>
 <div class="login" style="position:relative;  margin-left:150px">
  <% if current_user %>
    <h4>Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %></h4>
  <% else %>
    <h3><%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %></h3>
  <% end %>
</div>



  <main class="container">
    <%= yield %>
  </main>

  <%= yield :end_of_body %>



</body>
</html>
